rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    /*
    =========================
    RESTAURANTS
    =========================
    */
    match /sabrosaapp/restaurants/{restaurantId}/{allPaths=**} {

      allow read: if request.auth != null;

      allow write: if request.auth != null
                   && request.resource.size < 2 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    /*
    =========================
    DISHES
    =========================
    */
    match /sabrosaapp/dishes/{dishId}/{allPaths=**} {

      allow read: if request.auth != null;

      allow write: if request.auth != null
                   && request.resource.size < 2 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    /*
    =========================
    USER AVATARS
    =========================
    */
    match /sabrosaapp/users/{userId}/{allPaths=**} {

      allow read: if request.auth != null;

      allow write: if request.auth != null
                   && request.auth.uid == userId
                   && request.resource.size < 2 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}