<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941200508100-sfsfc2eims1me4qep56aq5q6ofi6agqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941200508100-sfsfc2eims1me4qep56aq5q6ofi6agqv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>941200508100-8tir6iom0h0e36uh3oanbv3176hr3kau.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBArg1p54tmEW6frskCxUlZLwIw91pYzW8</string>
	<key>GCM_SENDER_ID</key>
	<string>941200508100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appRestaurante</string>
	<key>PROJECT_ID</key>
	<string>fir-proyecto-intermodular</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-proyecto-intermodular.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941200508100:ios:55761e07f71ca21593b591</string>
</dict>
</plist>